.launch{
    background-color:black;
    text-align: center;
    color: white;
    height: 85vh;
    width: 100%;
    overflow: scroll;
}
.content{
    color: white;
    text-align: center !important;
}