.login__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.login{
    flex: 1;
    display: grid;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    padding-bottom: 80px;
}
.login>form {
    display: flex;
    flex-direction: column;
}
.login >form >input{
width: 340px;
height: 43px;
font-size: 15px;
padding-left: 20px;
margin-bottom: 10px;
border: 1px solid rgba(128,128,128,0.4);
}
.loginBtn {
    width: 340px;
    height: 46px;
    font-size: medium;
    cursor: pointer !important;
    color: #fff;
    background-color:black;
    margin-bottom: 10px;
}
.back{
    height: 38px !important;
}
.loginBtn:hover{
    color:black;
    background-color: #fff;
}

.login__register{
    color: #0000EE;
    font-weight: 600;
    cursor: pointer !important;
}
.login >p{
    margin-top: 20px;
}
.login__heading{
    color: #000;
    /* margin-top: -10px; */
    font-weight: 400;
    font-size: 27px;
    margin-bottom: -10px;
}
.login__para{
    color: grey;
    font-weight: 200;
}
.register{
    flex: 1;
    display: grid;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    padding-bottom: 45px;
}
.register>form {
    display: flex;
    flex-direction: column;
   
}
.register >form >input{
width: 340px;
height: 43px;
font-size: 15px;
padding-left: 20px;
margin-bottom: 10px;
border: 1px solid rgba(128,128,128,0.4);
}
.register >form >input::placeholder ,.login >form >input::placeholder {
    color:black;
    opacity: 0.9;
  }