.body{
 width: 100%;
}
.app__body{
    display: flex;
    flex-direction:column;
    width: 100%;
    align-items: center;
    justify-content: center;
  
}
.app{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}